img{
padding:5px;
width:200px;
aligh="right";
}

body{
background-image:url('stock4.JPG');
background-size:cover;

}
h1{
color:rgb(114,140,0);
font-family:garamond;
scroll-snap-align:start;
}
th,td{
padding:30px;
border-spacing:50px;
}
a{
color:#111E6C;
text-decoration:none;
font-weight:bold;
font-family:sans-serif;
}
a:hover{
color:blue;
}
